<!doctype html>
<html lang="en" class="{{ request.endpoint }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %} - Deckard</title>
  <link href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vendor/vis/dist/vis.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/style.sass.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet">
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-primary" role="alert">{{ message }}</div>
  {% endfor %}

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">Deckard</a>
  </nav>

  <section class="content">
    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
  </section>

  <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/lodash/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/vis/dist/vis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/site.js') }}"></script>
</body>