{% extends 'base.html' %}

{% block title %}
Hooks
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <h4>Extracted Hooks</h4>
    <ul class="fa-ul" id="hooktree">
      {% for hook in report.hooks.values() %}
      <li class>
        <a href="{{ url_for('hook', md5=hook.calchash()) }}">
          <span class="fa-li">
            <i class="fa fas {{ 'fa-hashtag' if hook.isconstructor else 'fa-plus' }}"></i>
          </span>
          {{ hook.human_name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
